@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="nav-link" href="https://github.com/nickywongdong/plannr/actions/workflows/plannr-prod.yml">
                <img src="https://github.com/nickywongdong/plannr/actions/workflows/plannr-prod.yml/badge.svg?event=push" alt="plannr-prod-ci" />
            </a>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
